.search-component{
  position: relative;
  width: 100%;
  display: flex;

  i{
    position: absolute;
    left: 285px;
    top: 15px;
    color: #555555;
  }
  .input-search{
    width: 100%;
    padding: 8px 15px;
    height: 32px;
    max-width: 295px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    &:placeholder-shown{
      font-style: italic;
    }
  }
}